<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>
            LoginServlet.do
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>controller.InscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLocation</servlet-name>
        <servlet-class>controller.ServletLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvisServlet</servlet-name>
        <servlet-class>controller.AvisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rentServlet</servlet-name>
        <servlet-class>controller.rentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmployeeServlet</servlet-name>
        <servlet-class>controller.addEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choiceBookServlet</servlet-name>
        <servlet-class>controller.choiceBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdBookServlet</servlet-name>
        <servlet-class>controller.AdBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionServlet</servlet-name>
        <servlet-class>controller.questionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reponseServlet</servlet-name>
        <servlet-class>controller.reponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disconnectionServlet</servlet-name>
        <servlet-class>controller.disconnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cotisationServlet</servlet-name>
        <servlet-class>controller.cotisationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBookServlet</servlet-name>
        <servlet-class>controller.searchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBiblioServlet</servlet-name>
        <servlet-class>controller.AddBiblioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBiblio</servlet-name>
        <servlet-class>controller.UpdateBiblioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationHistoryServlet</servlet-name>
        <servlet-class>controller.LocationHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationReturnServlet</servlet-name>
        <servlet-class>controller.LocationReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationListServlet</servlet-name>
        <servlet-class>controller.LocationListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updaeUserServlet</servlet-name>
        <servlet-class>controller.updaeUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLocation</servlet-name>
        <url-pattern>/ServletLocation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/InscriptionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvisServlet</servlet-name>
        <url-pattern>/AvisServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rentServlet</servlet-name>
        <url-pattern>/rentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmployeeServlet</servlet-name>
        <url-pattern>/addEmployeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choiceBookServlet</servlet-name>
        <url-pattern>/choiceBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdBookServlet</servlet-name>
        <url-pattern>/AdBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionServlet</servlet-name>
        <url-pattern>/questionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reponseServlet</servlet-name>
        <url-pattern>/reponseServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disconnectionServlet</servlet-name>
        <url-pattern>/disconnectionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cotisationServlet</servlet-name>
        <url-pattern>/cotisationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBookServlet</servlet-name>
        <url-pattern>/searchBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBiblioServlet</servlet-name>
        <url-pattern>/AddBiblioServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBiblio</servlet-name>
        <url-pattern>/UpdateBiblio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationHistoryServlet</servlet-name>
        <url-pattern>/LocationHistoryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationReturnServlet</servlet-name>
        <url-pattern>/LocationReturnServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationListServlet</servlet-name>
        <url-pattern>/LocationListServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updaeUserServlet</servlet-name>
        <url-pattern>/updaeUserServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
